#container{
        display: flex;
    justify-content: center;
}
#div1{
    width: 500px;
    height: 600px;
    background-color: rgb(187, 172, 201);
    text-align: left;
    color: black;
    margin-top: 7%;
    box-shadow: 2px 2px 2px black;
    border-radius: 10%;

}
#div2{
    margin-left: 3%;
    margin-top: 3%;
}
.button{
    margin-left: 5%;
    margin-top: 3%;
}
.div3{
    margin-left: 3%;
    margin-top: 3%;
}
.output{
    margin-top: 20%;
    text-align: center;
}
.btn{
    margin-left: 3%;
}